.post__author {
    padding: 1rem;
    min-height: 10rem;
}

.author__name a {
    font-size: 2.4rem;
}

.author__about {
    font-size: 1.5rem;
    margin-inline: 0.3rem;
    margin-left: -0.2rem;
}
.author__image
{
    height: 80px ;
    min-width: 80px ;
    border-radius: 50%;
    pointer-events: none;
}
.author__image__div
{
    padding-right: 15px;
    padding-top: 8px;
    height: 80px ;
    width: auto ;
}
.author__list
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}