<div class="post__author">

  <h2>Written by</h2>

  {{ range .Params.authors }}
  <div class="author__list">
    <div class="author__image__div">
      {{ if .image }}
      <img class="author__image" src="/authorImages/{{.image}}"></img>

      {{ else }}
      <img class="author__image" src="/authorImages/defaultPlaceholder"></img>

      {{ end }}
    </div>
    <div>
      {{ if .name }}
      <p class="author__name">

        {{ if .website }}
        <a target="_blank" href={{.website}}>{{ .name }}</a>

        {{ else }}
        <a>{{ .name }}</a>

        {{ end }}

      </p>

      {{ if .about }}
      <p class="author__about">{{ .about }}</p>

      {{ end }}

      {{ end }}


    </div>

  </div>
  {{ end }}
</div>