<div class="post__author">

    <h2>Written by</h2>

    {{- range .Params.authors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}

    <div class="author__list">
        <div class="author__image">
            <img src="{{ .Params.photo }}" alt=""/>
        </div>
        <div>
            <a class="author__name" href="{{ .Permalink }}">{{ .Params.name }}</a>
            <div class="author__about">
                {{ .Content }}
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
