<div class="post-author">

    <h2>Written by</h2>

    {{- range .Params.authors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}

    <div class="author-list">
        <div class="author-image">
            <img src="{{ .Params.photo }}" alt=""/>
        </div>
        <div class="author-details">
            <a class="author-name" href="{{ .Permalink }}">{{ .Params.name }}</a>
            <div class="author-about">
                {{ .Content }}
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
